.progress {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #BD1E1E;
    &.has-started {
        background-color: rgba(0, 0, 0, .6);
    }
}

.progress-value {
    background-color: $progress-bar-value;
    height: 100%;
}